body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: min(550px, 80vw);
}

h1,
thead {
  font-weight: bold;
}

h1 {
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 3em;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tbody tr:nth-child(odd) {
  background: whitesmoke;
}

td {
  margin: 0;
  padding: 0.25rem;
}

td:nth-child(3) {
  text-align: center;
}

button {
  background: #a5d6a7;
  border: whitesmoke;

  /* https://codepen.io/sdthornton/pen/wBZdXq */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

form button {
  border-radius: 4px;
  padding: 0.5rem;
}

button:focus {
  outline: none;
}

button:hover:not(:focus) {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

form {
  border-top: solid thin gray;
  margin-bottom: 10vmin;
  margin-top: 1rem;
  padding-top: 1rem;
}

label {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.is-hidden {
  display: none;
}

/* 'loader' and 'spin' based on example from w3schools 👇🏽 😳 */
.loader {
  animation: spin 2s linear infinite;
  border: 1rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1rem solid #3498db;
  height: 7.5rem;
  margin: 10vmin auto;
  width: 7.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
